.cell {
    display: inline-block;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    margin-left: -1px;
    margin-bottom: -1px;
    transition: all .3s
  
  }

  .dead {
    background-color: lightgray;
  }

  .alive {
    background-color: #0066ff;
  }

  .cell:hover {
    background-color: black;
  }